@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Artificial Intelligence: Checkers</h1>
    <h6 class>Keegan Fisher (fisherk3@seattleu.edu) - Jackie Wong (wongj18@seattleu.edu)</h3>
    <p><strong>Project Goals: </strong>Implement an algorithm using A.I. techniques to allow two game types</p>
        <ul style="list-style-type:none;">
            <li><strong>1.</strong> Computer vs. Computer - implementation without human-interaction</li>
            <li><strong>2.</strong> Human vs. Computer - client application with GUI to play a game against a computer</li>
        </ul>
    <p>Our group will also create a Youtube video presenting the computer vs. computer scenario<br>
    as well as a 30x40 inches poster-board to display the methodology involved in our implemenation.
    </p>
    <p style="display:inline"><strong>Resources for rules and understanding the game:</strong></p>
    <ul style="list-style-type:none;">
    <li><a href="http://www.cs.huji.ac.il/~ai/projects/old/English-Draughts.pdf">AI Checkers 8x8 board game</a></li>
    <li><a href="https://www.mathsisfun.com/games/checkers-2.html">Online checkers game against computer</a></li>
    </ul>
    <img src="images/Checkers.jpg" style="opacity=0.5" width="180" height="200"/>
</div>